<StackLayout class="sidedrawer-left">
  <StackLayout class="sidedrawer-header">
    <Image class="sidedrawer-header-image img-circle" src="~/my-app-logo.png"></Image>
    <Label class="sidedrawer-header-brand" text="Name of My App"></Label>
  </StackLayout>
  <StackLayout class="sidedrawer-content">
      <GridLayout class="sidedrawer-list-item" rows="auto" columns="auto, *">
          <Image class="sidedrawer-list-item-icon" row="0" col="0" src="~/path/to/icon.png"></Image>
          <Label class="sidedrawer-list-item-text" row="0" col="1" text="A Link"></Label>
      </GridLayout>
  </StackLayout>
</StackLayout>